keystore "file:${carbon.home}/repository/resources/security/appfactory_code_signer.jks", "JKS";

// ========== SYSTEM CODE PERMISSIONS =========================================

// These permissions apply to javac
grant codeBase "file:${java.home}/lib/-" {
        permission java.security.AllPermission;
};

// These permissions apply to all shared system extensions
grant codeBase "file:${java.home}/jre/lib/ext/-" {
        permission java.security.AllPermission;
};

// These permissions apply to javac when ${java.home] points at $JAVA_HOME/jre
grant codeBase "file:${java.home}/../lib/-" {
        permission java.security.AllPermission;
};

// These permissions apply to all shared system extensions when
// ${java.home} points at $JAVA_HOME/jre
grant codeBase "file:${java.home}/lib/ext/-" {
        permission java.security.AllPermission;
};

// ========= Carbon Cloud Server Permissions ===================================
grant {
   permission java.net.SocketPermission "*:1-65535", "connect,resolve";
   permission java.util.PropertyPermission "http.proxyHost", "read";
   permission java.util.PropertyPermission "http.nonProxyHosts", "read";
   permission java.util.PropertyPermission "adb.converterutil", "read";
   permission java.lang.RuntimePermission "accessClassInPackage.org.wso2.carbon.context";
   permission java.lang.RuntimePermission "accessClassInPackage.org.wso2.carbon.registry.api";
   permission java.lang.RuntimePermission "accessClassInPackage.org.wso2.carbon.registry.core";
   permission java.lang.RuntimePermission "accessClassInPackage.org.wso2.carbon.user.api";
   permission java.lang.RuntimePermission "accessClassInPackage.org.wso2.carbon.user.core";
   permission java.lang.RuntimePermission "accessClassInPackage.org.wso2.carbon.authenticator.stub";
   permission java.lang.RuntimePermission "accessClassInPackage.org.wso2.carbon.core.common";
   permission java.lang.RuntimePermission "modifyThreadGroup";
   permission java.lang.RuntimePermission "getClassLoader";
   permission java.lang.RuntimePermission "setContextClassLoader";
   permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
   permission java.lang.RuntimePermission "accessDeclaredMembers";
   permission java.util.PropertyPermission "*", "read";

   permission java.lang.RuntimePermission "accessClassInPackage.org.apache.tomcat.jdbc.pool";
   permission javax.xml.bind.JAXBPermission "setDatatypeConverter";
   permission javax.security.auth.AuthPermission "getSubject";
   permission java.io.FilePermission "${carbon.home}/repository/resources/security/wso2carbon.jks", "read";
};

// These permissions apply to platform signed code
grant signedBy "appfactory_code_signer" {
  permission java.security.AllPermission;
};
