<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AFRuntimeProvisioningTestSuite" verbose="2">
    <test name="DeploymentTest" preserve-order="true" verbose="2">
        <classes>
            <!--class name="org.wso2.carbon.appfactory.provisioning.runtime.test.DeploymentTest"/-->
        </classes>
    </test>
    <test name="LogTest" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.appfactory.provisioning.runtime.test.LoggingTest"/>
        </classes>
    </test>
    <test name="CustomDomainTest" preserve-order="true" verbose="2">
        <classes>
            <!--class name="org.wso2.carbon.appfactory.provisioning.runtime.test.CustomDomainTest"/-->
        </classes>
    </test>
</suite>