
.af_container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.af_container:before,
.af_container:after {
  display: table;
  content: " ";
}

.af_container:after {
  clear: both;
}

.af_container:before,
.af_container:after {
  display: table;
  content: " ";
}

.af_container:after {
  clear: both;
}

.af_row {
  margin-right: -15px;
  margin-left: -15px;
}

.af_row:before,
.af_row:after {
  display: table;
  content: " ";
}

.af_row:after {
  clear: both;
}

.af_row:before,
.af_row:after {
  display: table;
  content: " ";
}

.af_row:after {
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  min-height: 1px;
}

.colpad-1,
.colpad-2,
.colpad-3,
.colpad-4,
.colpad-5,
.colpad-6,
.colpad-7,
.colpad-8,
.colpad-9,
.colpad-10,
.colpad-11,
.colpad-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1,.colpad-1,
.col-2,.colpad-2,
.col-3,.colpad-3,
.col-4,.colpad-4,
.col-5,.colpad-5,
.col-6,.colpad-6,
.col-7,.colpad-7,
.col-8,.colpad-8,
.col-9,.colpad-9,
.col-10,.colpad-10,
.col-11,.colpad-11{
  float: left;
}

.col-1,.colpad-1 {
  width: 8.333333333333332%;
}

.col-2,.colpad-2 {
  width: 16.666666666666664%;
}

.col-3 ,.colpad-2{
  width: 25%;
}

.col-4 ,.colpad-4{
  width: 33.33333333333333%;
}

.col-5 ,.colpad-5{
  width: 41.66666666666667%;
}

.col-6 ,.colpad-6{
  width: 50%;
}

.col-7 ,.colpad-7{
  width: 58.333333333333336%;
}

.col-8 ,.colpad-8{
  width: 66.66666666666666%;
}

.col-9 ,.colpad-9{
  width: 75%;
}

.col-10 ,.colpad-10{
  width: 83.33333333333334%;
}

.col-11 ,.colpad-11{
  width: 91.66666666666666%;
}

.col-12 ,.colpad-12{
  width: 100%;
}
