body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #fff;
    padding-top: 50px;
    background-color: #282828;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse {
    border-color: #222;
}
.user-name {
    background-color: #1c1c1c;
}
.navbar-default {
    background-color: #0068d4;
    border-color: #0065CD;
}
.user-image {
    width: 20px;
    margin: 0 0px 0px 10px;
}
.cloud-container {
    position: relative;
    top: 125px;
}
.cloud-menu {
    background-color: #151515;
    width: 58px;
}
.navbar-secondary {
    background-color: #0498d5;
    border-radius: 0;
    max-height: 50px;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    top: 53px;
    z-index: 101;
}
.navbar-secondary .row {
    margin-right: 0px;
}
.breadcrumb-secondary {
    color: #fff;
    font-size: 20px;
    margin: 12px 0 0 0px;
    float: left;
}
.breadcrumb-secondary i,
.breadcrumb-secondary span {
    float: left;
    margin-left: 13px;
}
.breadcrumb-secondary span {
    margin-left: 0.5em
}

.breadcrumb-secondary a, .version-url a{
    cursor: pointer;
    color:rgba(255,255,255,0.75);
}
.breadcrumb-secondary a:hover, .version-url a:hover{
    color: #fff;
    text-decoration: none;
}

.action-bar {
    background-color: #303030;
    min-height: 45px;
    color: #fff;
    -webkit-box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 103px;
    width: 100%;
    z-index: 100;
}
.app-type-listing {
    position: relative;
    top: 73px;
    z-index: 99;
}
.btn-action-txt {
    position: absolute;
    margin-top: 14px;
    margin-left: 8px;
}
.btn-action:hover {
    background-color: #000
}
/* general buttons */

button[disabled]{
    opacity: 0.65;
    cursor: not-allowed;
}

.cu-btn {
    font-size: 1.1em;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    border: 1px solid transparent;
    cursor: pointer;
}
.cu-btn:active,
.cu-btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125);
}
.cu-btn:hover,
.cu-btn:visited,
.cu-btn:focus {
    color: #fff;
    text-decoration: none;
}
.cu-btn-md {
    padding: 10px 22px;
    line-height: 1.3em;
}
.cu-btn-lg {}
.cu-btn-sm {
    padding: 3px 11px;
}
.cu-btn-blue {
    background-color: #0288c0
}
.cu-btn-orange {
    background-color: #F0AD4E
}
.cu-btn-gr-dark {
    background-color: #1f1f1f
}
.cu-btn-gr-dark:hover {
    background-color: #111
}
.cu-btn-gray {
    background-color: #555555;
}
.wr-edit-button {
    border-radius: 0;
}

.ctrl-edit-button .dropdown-menu {
    min-width: 160px;
    padding: 5px 0;
    margin: 0px 0 0;
    font-size: 0.8em;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #ccc;
    border: 0px solid rgba(0, 0, 0, .15);
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
    border-top: 1px solid #329ecc;
}
.ctrl-edit-button .dropdown-menu>li>a:hover,
.ctrl-edit-button .dropdown-menu>li>a:focus {
    background-color: #007eb3;
}
.btn-group .btn+.btn {
    margin-left: 0;
}
.ctrl-edit-button .dropdown-menu > li > a {
    color: #fff;
    padding: 5px 24px;
}
.ctrl-edit-button .dropdown-menu.btn-edit li{
    font-size:1.37em;
}
.cu-dropdown-toggle {
    border-left: 1px solid #329ecc;
}
/* centered columns styles */

.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
    margin-right: -4px;
}
a.btn-action {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
    height: 53px;
    padding: 9px 10px;
}
/* cloud popover menu related styles */

.cloud-menu .popover {
    border-radius: 0px;
    width: 31em;
    left: -27em !important;
    max-width: 31em;
    background-color: #006690
}
.cloud-menu .popover-title {
    background-color: #006690;
    font-size: 16px;
    border-bottom: none;
}
.cloud-menu .popover.bottom>.arrow:after {
    border-bottom-color: #006690;
}
.cloud-block {
    float: left;
    width: 9em;
    height: 9em;
    background-color: #fff;
    margin: 0.5em 0em 0.5em 0.5em;
    padding: 2em;
    text-align: center;
}
.cloud-name {
    margin-top: .3em;
    font-weight: 300;
}
.cloud-menu-popover {
    position: relative;
    float: right;
    padding: 1px 8px;
    margin-right: 15px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
#cloud-menu-popover-xs {
    margin-top: 9px;
    color: #fff;
    padding: 6px;
    border: 1px solid rgb(62, 62, 62);
}
.navbar-header .popover {
    border-radius: 0px;
    width: 31em;
    max-width: 13em;
}
.cloud-menu .popover-content {
    padding: 0px;
}
.cloud-actions {
    background-color: #005578;
    float: left;
    position: absolute;
    width: 100%;
    left: 0px;
}
.cloud-actions h3 {
    font-size: 16px;
    font-weight: 400;
    padding-left: 14px;
    margin-top: 10px;
}
.cloud-block-invert {
    color: #fff;
    float: left;
    width: 9em;
    height: 8em;
    background-color: #1f1f1f;
    margin: 0.5em 0em 0.5em 0.5em;
    padding: 2em;
    text-align: center;
    cursor: pointer;
}
.cloud-actions a:hover {
    color: #d7d5d5;
    background-color: #3d3d3d;
    text-decoration: none
}
.cloud-apps a {
    text-decoration: none;
    color: #006690;
    cursor: pointer
}
.cloud-apps a:hover {
    text-decoration: none;
    color: #006690;
    background-color: #c5c5c5;
}
.cloud-apps .cloud-actions a {
    color: #fff
}
/*footer section related styles*/

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    z-index: 9999;
}
#footer,
#push {
    height: 36px;
}
.inner-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -36px;
    width: 100%;
    position: absolute;
}
.footer-text {
    margin-top: 1em;
    color: #fff;
    font-size: 11px;
}


@media (min-width: 768px) {
    .menu-right {
        float: right;
        margin: 0px -15px;
    }
}
@media (min-width: 992px) {
    .description-action .cu-btn {
        font-size: 23px !important;
    }
}
@media (min-width: 1200px) {
    .listing .col-lg-2 {
        width: 13.666667%;
    }
    .modal-dialog-margin-top-md{
        margin-top:10%;
    }
    .modal-lg{
        width: 80%;
    }
    .modal-md{
        width: 60%;
    }
    .version-url{
        width:41.8%;
    }
}
/* use for landing page blocks*/

.cloud-app-select {
    background-color: white;
    padding: 1em;
    margin-top: 4em;
    min-height: 40em;
    position: relative;
}
.cloud-intro {
    margin-top: 12em;
    color: #fff;
}
.cloud-intro .description {
    margin-top: 2em;
}
.cloud-intro h1 {
    font-weight: 300;
}
.cloud-app-select .heading {
    margin: -14px -15px 0px;
    padding: 20px;
    text-align: center;
    background-color: rgb(100, 100, 100);
    color: #fff;
    font-size: 22px;
}
.row-full-height {
    height: 100%;
}
.col-full-height {
    vertical-align: middle;
}
.row-same-height {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.cloud-app-select .content {
    padding: .5em;
    max-height: 22em;
    overflow: hidden;
    color: #646464;
}
.cloud-app-select .btn-footer {
    position: absolute;
    bottom: 2em;
    left: 0em;
    background-color: rgb(237, 237, 237);
    width: 100%;
    margin-bottom: -2em;
    height: 8em;
}
.cloud-app-select .btn-footer button {
    margin-top: 3em;
}
.cloud-new-content {
    margin-top: 17em;
}
.cloud-new-content #app-create-button {
    margin-top: 2em;
    font-size: 30px
}
.cloud-new-content .help {
    margin-top: 2em;
}
.cloud-new-content h1 {
    font-weight: 300;
}
/* cloud new app type selection page related styles */

.cloud-app-type {
    background-color: #949494;
    margin-top: 3em;
    min-height: 13em;
    position: relative;
    z-index: 100;
    padding: 1em;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.cloud-app-type i {
    margin: .4em
}
.listing {
    position: relative;
    font-size: 16px;
}
.long {
    width: 100%;
    min-height: 13em;
    z-index: 99;
    background-color: #949494;
    margin-top: .6em;
    padding: 0em 2em 1em;
    color: #fff;
}
.cloud-app-selected {
    height: 14em !important;
    margin-bottom: -0.6em;
    max-height: 14em;
}
.type-name {
    position: absolute;
    bottom: 0px;
    margin-bottom: 11px;
    text-align: center;
    width: 85%;
}
.app-color-one {
    background-color: #676767;
    border-color: #676767;
}
.app-color-two {
    background-color: #37678d;
    border-color: #37678d;
}
.app-color-three {
    background-color: #e5a02b;
    border-color: #e5a02b;
}
.app-color-four {
    background-color: #e5a02b;
    border-color: #e5a02b;
}
.app-color-five {
    background-color: #6a7fb4;
    border-color: #6a7fb4;
}
.app-color-six {
    background-color: #449ab6;
    border-color: #449ab6;
}
.app-color-seven {
    background-color: #40d47e;
    border-color: #40d47e;
}
.longme h2 {
    font-weight: 300;
}
.app-description {
    font-weight: 300;
    margin-bottom: 0.5em;
}
.button-bar a {
    margin-right: 1em;
}
.description-action {
    margin-top: 4em;
    font-weight: 400;
}
.description-action .cu-btn {
    font-size: 31px;
    font-weight: 300;
}
.description-action span {
    font-size: 23px;
}
.cloud-selected-app-type-name h1 {
    font-weight: 200;
    margin-top: 1.5em;
}
/* application landing */

.app-preview h2 {
    color: #fff;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2.5em;
}
.app-preview p {
    color: #cecece;
    font-weight: 400;
    font-size: 1em;
}
/* cloud new app creation */

.cloud-selected-app-type {
    margin: 1em 2em 1em 0px;
    padding: 1.5em;
}

.col-fixed-1x {
    width: 130px;
    margin-left: 15px;
}
.col-fixed-left {
    float: left;
}
.forms label {
    font-weight: 300;
}

.form-group label>.required {
    color: #E74C3C;
    font-weight: 400;
}

.forms .form-group {
    margin-bottom: 3.5em;
}
.forms input,
.forms textarea {
    border-radius: 0px
}
.btn-file {
    position: relative;
    overflow: hidden;
    border-radius: 0px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/*.cu-btn-position{
    margin-top: 2em;
}*/
.cu-btn-position span {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* application landing */

.app-preview {
    background: #464646;
    padding: 40px;
    min-height: 13em;
}
.app-preview h2 {
    color: #fff;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2.5em;
}
.app-preview p {
    color: #cecece;
    font-weight: 400;
    font-size: 1em;
}
.app-preview .app-thumb {
    width: 140px;
    padding-top: 5px;
    float: left;
    max-height: 100px;
    overflow: hidden;
}
.app-preview .app-desc {
    float: left;
    border: 0px solid #ff0000;
}
.app-preview-action-bar {
    margin-top: 15px;
}
.app-preview-action-bar div.sec {
    float: left;
}
.prod-url {
    padding: 10px 15px 11px 20px;
    font-size: 1.1em;
    background: #343434;
    color: #f5f5f5;
    font-weight: 500;
}
.prod-url a {
    color: #cecece;
}
.prod-url i {
    margin-left: 20px;
    color: #9c9c9c;
}
/*product listing page */

.cloud-app {
    background-color: #949494;
    margin-top: 3em;
    min-height: 13em;
    position: relative;
    z-index: 100;
    padding: 1em;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.app-sort-bar {
    top: 9em;
    position: relative;
}
.app-listing {
    position: relative;
    top: 11em;
}

.app-listing-loader{
    margin-top: 10%;
}
#search-apps {
    border-radius: 0px;
    height: 40px;
    font-size: 18px;
    font-weight: 300;
}
.app-sort-bar .search i {
    color: #303030;
    position: absolute;
    top: 6px;
    right: 22px;
    cursor: pointer;
}
.app-sort-bar .sort i {
    color: #fff;
}
.cloud-app-listing {
    width: 100%;
    position: relative;
    margin-bottom: 2em;
    cursor: pointer;
}
.cloud-app-listing i {
    position: absolute;
    z-index: 98;
    right: 16px;
    padding: 6px;
    background-color: #383d44;
    top: 0;
    color:#fff;
}
.app-thumb span {
    padding: 7px;
    background-color: #626262;
    border-radius: 19px;
    width: 33px;
    z-index: 99;
    position: absolute;
    left: 130px;
    top: 135px;
}
.app-thumb span i {
    padding-left: 4px;
}
.app-icon {
    border: none;
    margin: 0;
    background: #2c313b;
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.app-icon:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}
.app-icon > .square-element {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.app-icon img {
    width: 100%;
}
.app-icon .square-element:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.app-name {
    position: absolute;
    color:#fff;
    bottom: 0;
    padding: 9px 5px 2px;
    width: 100%;
    min-height: 3em;
    font-size: 17px;
    background-color: #383d44;
    font-weight: 300;
}

.app-name i{
    position: relative;
}
/* cloud app details */

.side-pane-trigger {
    float: left;
    margin-left: 14px;
    margin-top: -1px;
    background-color: #006690
}
.side-pane-trigger i {
    padding: 15px 15px 14px;
    cursor: pointer;
    font-size: 1.5em;
}
.side-pane-trigger:hover {
    background-color: #005578
}
.right-pane {
    position: absolute;
    width: 100%;
}
.left-pane {
    position: fixed;
    width: 18em;
    z-index: 100;
    background-color: #222222;
    left: -18em;
    top: 53px;
    min-height: 100%;
    overflow-y: auto;
}
.notification-pane {
    position: fixed;
    width: 24em;
    z-index: 100;
    background-color: #222222;
    right: 0em;
    top: 103px;
    min-height: 100%;
}
.notification-pane-trigger {
    position: absolute;
    left: -54px;
    padding: 17px;
    height: 53px;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}
.notifications {
    padding: 10px 6px 10px;
    overflow-y: scroll;
}
.notification-msg {
    padding: 5px 10px;
    background-color: rgb(46, 46, 46);
    margin-bottom: 7px;
    float: left;
    width: 100%;
    border-left: 4px solid;
}
.noti-success {
    color: #40d47e;
    border-left-color: #40d47e;
}
.noti-warning {
    color: #f39c12;
    border-left-color: #f39c12;
}
.noti-error {
    color: #e74c3c;
    border-left-color: #e74c3c;
}
.notifications .notification-time {
    color: #666;
    font-size: .7em;
    float: left;
    margin-left: 23px;
    margin-top: 6px;
}
.msg>span {
    color: rgb(182, 182, 182);
    display: block;
    float: left;
    width: 90%;
    margin-left: 2%;
}
.notification-msg i {
    margin-right: 5px;
    float: left;
    margin-top: 4px;
}
.new-notifications{
    background-color: red;
    height: 8px;
    width: 8px;
    margin: -4px 20px;
    border-radius: 50px;
    display: none;
}
.spin-overide{
    color: rgb(182, 182, 182) !important;
}

.app-content-section {
    margin-top: 105px;
}
.left-pane ul {
    margin-top: 70px;
    list-style: none;
    padding-left: 0;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.left-pane ul li {
    cursor: pointer;
}
.left-pane ul li i {
    padding-right: 10px;
    font-size: 1.5em;
}
.left-pane ul li:hover {
    background-color: #101010;
}
.left-pane ul li ul{
    margin-top:0px;
}
.left-pane ul li ul li a{
    margin-left:30px;
}
.left-pane a{
    color: #fff;
    display: block;
    padding: 16px 22px 18px;
}

.left-pane a:hover{
    color: #fff;
    text-decoration: none;
}

.block-anch:hover{
    text-decoration: none;
    cursor: pointer;
    color: #e3e3e3;
}

.block-general {
    margin-top: 1em;
    background-color: #34495e;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 33em;
}

.block-general a, .block-team a, .block-database a{
    color:#fff;
}
.block-general h3,
.block-team h3,
.block-database h3 {
    font-weight: 300;
    margin-top: 8px;
}
.block-team h3, .block-database h3{
    margin-top:3px;
}
.block-general h3 {
    margin-bottom: 30px;
}
.version-number button{
    color:#fff;
    background-color:#757575;
    border:none;
    padding:10px 22px;
}
.version-number .dropdown-menu{
    margin:0px;
    border:none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.version-url {
    float: left;
    padding: 10px;
    background-color: #8b8b8b;
    border-color: transparent;
    max-width: 62%;
    min-width: 40%;
}
.version-url>a>span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.url-loading i{
    float: left;
    margin: 2px 3px;
}
.url-loading i:before,.url-loading i {
    -webkit-animation: fw-hide 2s cubic-bezier(0, -2.15, 0.2, 0.32) infinite;
    animation: fw-hide 2s cubic-bezier(0, -2.15, 0.2, 0.32) infinite;
    -moz-animation: fw-hide 2s infinite;
}
.url-loading span:after{
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -moz-animation: ellipsis 2s infinite;
    -webkit-animation: ellipsis 2s infinite;
    animation: ellipsis 2s infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
}

@keyframes fw-hide {
    0%, 30%  {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 15px;
    }
}


.block-life-cycle,
.block-repos,
.block-issues,
.block-runtime,
.block-team,
.block-database {
    margin-top: 1em;
    padding: 18px;
}
.block-team {
    background-color: #95a5a6;
}
.block-database {
    background-color: #0090d9;
}
.block-life-cycle {
    background-color: #0090d9;
    min-height: 24em;
}
.block-repos {
    background-color: #735f87;
    min-height: 24em;
}
.block-issues {
    background-color: #0aa699;
    min-height: 24em;
}
.block-runtime{
    background-color: #e67e22;
    min-height: 24em;
}
.block-action-button {
    width: 100%;
    margin-top:10px;
    text-align: right;
    float: right;
    padding: 8px;
    cursor: pointer;
}
.block-database,
.block-team {
    width: 100%;
}
.block-number {
    font-size: 5em;
    font-weight: 300;
    margin-top: -14px;
}
.block-team .block-action-button:hover {
    background-color: rgb(111, 121, 122);
}
.block-team .block-repos:hover {
    background-color: rgb(111, 121, 122);
}

.block-database .block-action-button:hover {
    background-color: rgb(0, 95, 143)
}
.block-team .block-icon,
.block-database .block-icon {
    margin-top: 1em;
}
.btn-create-version {
    float: right;
    padding: 8px;
    cursor: pointer;
}
.btn-create-version:hover {
    background-color: rgb(29, 42, 56);
}
.block-life-cycle .block-action-button {
    width: 100%;
}
.block-life-cycle .block-action-button:hover {
    background-color: rgb(0, 95, 143);
    color: rgba(255,255,255,0.75);
}

.block-issues .block-action-button:hover {
    background-color: rgb(4, 97, 89);
}

.block-runtime .block-action-button:hover {
    background-color: #d35400;
}

.block-description-multiline {
    margin-left: 4em;
    font-size: 1.3em;
    font-weight: 300;
    border-left: 1px solid #fff;
    padding: 10px 20px;
}
.block-description {
    width:67%;
    font-size: 1.3em;
    font-weight: 300;
}

.permission-change-block {
    background-color: #034A6F;
    width: 100%;
    height: 50px;
    margin-top: 3em;
}

.permission-change-block .block-action-button{
    width: 100%;
    text-align: center;
    margin-top:0px;
}

.btn-edit li {
    font-size: 1.42em;
    font-weight: 100;
}
.left-pane .selected {
    background-color: #101010;
}
/* issues page */

.msg-issues {
    background: #464646;
    padding: 40px 20px 10px;
    font-size: 1.2em;
    font-weight: 300;
}
.gray-hr {
    border-top: 1px solid #666;
    margin-top: 60px;
}
.dotted{
    border-top:2px dotted #666;
}
.comment-line {
    margin-bottom: 20px;
}
.comment-line:last-child {
    margin-bottom: 50px;
}
.comment-line p {
    color: #999;
    padding: 20px;
    background: #202020;
    border: 1px solid #353535;
    margin-bottom: 0px;
}
.comment-line>span {
    padding: 4px 8px;
    color: #666;
    font-size: 11px;
    background: #353535;
}
.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 23px 23px 0;
    border-color: transparent #353535 transparent transparent;
}
.add-issue-content {
    margin-top: 6em;
}
.add-issue-content #add-issue-button {
    margin-top: 2em;
    font-size: 30px;
    padding: 10px 30px;
}
.add-issue-content #add-issue-button span.fw-stack {
    font-size: 20px;
}
.form-group>label.error {
    line-height: 1.5em;
    color: rgb(255, 255, 255);
    background-color: #e74c3c;
    width: 100%;
    padding: 5px 10px;
    border-left: 5px solid #942F25;
    font-weight: 500;
}

.loading-overlay {
    width: 98%;
    top: 14px;
    left: 15px;
    min-height: 98%;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    z-index: 99;
}
.help-tips {
    margin-left: 4px;
    margin-top: 2px;
}

/* notification customization */
/* noti overides */
#noty_topCenter_layout_container{
    top: 133px !important;
    width: 500px !important;
}
#noty_topCenter_layout_container li{
    border-radius: 0px !important;
    width:500px !important;
}

.noty_close{
    background:none !important;
    top: 0px !important;
    right: 0px !important;
}

.noty_close:before{
    content: 'x';
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 10px !important;
    background-color: #333 !important;
    text-shadow: none;
    opacity: 1;
    float: right;
}

.alert{
    border-radius: 0px;
    min-height:50px;
}
.alert-success{
    background-color: #27ae60;
    border-color: #40D47E;
    border-radius:0px;
    margin: 15px;
    color:#fff;
    padding:0px;
}
.alert-info .close{
    color:#666;
}
.alert .close{
    background-color:#333;
    color:#fff;
    text-shadow:none;
    opacity:1;
    padding:5px 10px;

}
.alert-pending .close{
    margin-top: -15px;
    margin-right: -15px;
}
.alert .alert-content-block{
    display:block;
    padding:15px;
    font-size: 16px;
}

.alert-extra-content{
    background-color: #50E28E;
    padding: 10px 15px;
    color: #333;
}
.alert-extra-content ul{
    list-style: decimal;
}


/* ========================================================================
 * loading styles
 * ======================================================================== */

.loading {
    /*position: relative; */
}

.loading .loading-bg {
    background: #000;
    position: absolute;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    z-index: 10000000;
}

.loading .loading-animation {
    position: absolute;
    z-index: 10000001;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 75px;
    -webkit-transform: translate(-50%, -50%);
}

.loading .loading-animation .loading-logo {
    position: relative;
}

.loading .loading-animation .loading-logo .pulse-line,
.loading .loading-animation .loading-logo .circle {
    fill: none;
    stroke: #fff;
}

.loading .loading-animation .loading-logo .circle {
    stroke-dasharray: 100;
    opacity: 0.5;
}

.loading .loading-animation .loading-logo .pulse-line {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash 4s linear  infinite;
    opacity: 0;
}

@keyframes dash {
    0% {
        opacity: 0.9;
    }
    10% {
        stroke-dashoffset: 200;
        opacity: 0.9;
    }
    70% {
        stroke-dashoffset: 500;
        opacity: 0.9;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.loading .loading-animation .loading-logo .signal {
    border: 5px solid #fff;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    opacity: 0;
    position:absolute;
    top: -1px;
    left: -4px;
    animation: pulsate 4s ease-out infinite;
    animation-delay: 1.5s;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes pulsate {
    0%, 30%  {
        transform: scale(0.9);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.loading .loading-animation p {
    color: #fff;
    text-align: center;
    font-size: 11px;
    margin-top: 4px;
}


/* button loading */
.loading-logo {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 3.35em;
    line-height: 3em;
    vertical-align: middle;
}

.loading-logo .pulse-line,
.loading-logo .circle {
    fill: none;
    stroke: #fff;
}

.loading-logo .circle {
    stroke-dasharray: 100;
    opacity: 0.5;
}

.loading-logo .pulse-line {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash 4s linear  infinite;
    opacity: 0;
}

.loading-logo  svg{
    margin-top: 3px;
}

.loading-logo .signal {
    border: 5px solid #fff;
    border-radius: 50px;
    height: 3em;
    width: 3em;
    opacity: 0;
    position:absolute;
    top: 3px;
    animation: pulsate 4s ease-out infinite;
    animation-delay: 1.5s;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.datatable td a{
    color: #fff;
    cursor: pointer;
}
.datatable td a:hover{
    color: #fff;
}

.password-generator{
    border-radius: 0px;
    margin-top: 1.7em;
}
.hide-pass{
    float: right;
    margin-top: -27px;
    margin-right: 7px;
    cursor: pointer;
    color: rgb(40, 40, 40);
}

.hide-pass>i{
    font-size: 1.5em;
}
.progress{
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.progress-bar-label{
    padding: 3px 0px;
}
.stage-progress-container .progress{
    height: 25px;
}

.modal-title{color: #000;}
.modal-content, .btn{border-radius: 0px;}

#password-modal{
    margin-top: 4em;
}
.password-meter {
    width: 214px;
    color: #000;
    border-radius: 0px;
}

.switch .toggle-button:before {
    position: absolute;
    left: 0;
    top: 2px;
    display: block;
    content: "";
    width: 45px;
    height: 16px;
    cursor: pointer;
    background: #a6a6a6;
    margin-left: 2px;
    z-index: 1;
    border-radius: 8px;
}

.switch input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.switch input[type="checkbox"] + .toggle-button:after {
    background: #444;
}

.switch input[type="checkbox"] + .toggle-button:after {
    position: absolute;
    left: 22px;
    top: -2px;
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: #237bd5;
    z-index: 2;
    border-radius: 12px;
    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
}

.switch input[type="checkbox"]:checked + .toggle-button + .text {
    display: inline-block;
}

.switch .toggle-button:before {
    position: absolute;
    left: 0;
    top: 2px;
    display: block;
    content: "";
    width: 45px;
    height: 16px;
    cursor: pointer;
    background: #a6a6a6;
    margin-left: 2px;
    z-index: 1;
    border-radius: 8px;
}
.switch input[type="checkbox"] + .toggle-button:after {
    position: absolute;
    left: 22px;
    top: -2px;
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: #237bd5;
    z-index: 2;
    border-radius: 12px;

    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
}
.switch input[type="checkbox"]:not(:checked) + .toggle-button:after {
    left: 2px !important;
    background: #eaeaea;
    border: 1px #eaeaea solid;
}

.switch input[type="checkbox"]:not(:checked) + .toggle-button:before {
    background: #a6a6a6 !important;
}
.switch input[type="checkbox"]:disabled + .toggle-button:after {
    background: #a6a6a6 !important;
    outline: 2px #a6a6a6 solid !important;
}
.switch input[type="checkbox"]:disabled + .toggle-button:before {
    cursor: default !important;
    background: #e0e0e0 !important;
    outline: 2px #ccc solid !important;
}

.switch .toggle-button{
    position: absolute;
    margin-top: -8px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control,
.modal .form-control[disabled],.modal .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #CACACA ;
}
.form-control,.has-error .form-control:focus,.modal .form-control,.has-error .modal .form-control:focus{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
/* custom URL section */
.form-section{
    margin-top: 3em;
}

.modal-content{
    background-color:#464646;
}
.model-body{
    color:#666;
}
.modal-header,.modal-footer{
    border-color:#404040;
}
.modal-title{
    color:#fff;
}
.no-pad-right{
    padding-right:0px;
}
.no-pad-left{
    padding-left:0px;
}
.no-pad-both{
    padding-left:0px;
    padding-right:0px;
}
.padding-bottom-lg{
    padding-bottom:30px;
}
.padding-bottom-xlg{
    padding-bottom:4em;
}

.section-title {
    font-size: 17px;
    margin: 20px 0px 14px 0px;
    background-color: #3C3C3C;
    padding: 3px 10px;
}

.log-container{
    margin-top: 2em;
    display: none;
}
.log-container > pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #cecece;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #444;    
    background-color:#333;
    border-radius:0;
    max-height: 340px;
}
.note{
    padding: 10px;
}
.note i{
    margin: 5px;
}
.note p{
    width: 94%;
}
#date{
    height: 42px;
}

.members-result-container h4, .members-result-container p {
    padding: 0px;
    margin: 0px;
}
.members-result-container h4{
    margin-bottom: 5px;
}
.members-result-container{
    padding-left: 10px;
}
.member-detail{
    max-width: 90%;
}

.fw-1-5x{
    font-size: 1.5em;
}
.app-desc h2{
    margin-top:0px;
}
@media (max-width: 1200px) {
    .version-url{
        width:44.4%;
    }
    .btn-edit-code > a{
        margin-top:-3px;
    }
    .block-action-button,.block-life-cycle .block-action-button{
        width:100%;
    }
    .block-description-multiline{
        font-size:1em;
        margin-left:1em;
        padding:10px 16px;
    }
    .block-description{
        font-size:1em;
        margin-top:1em;
    }
    .block-general.fw-5x,.block-team.fw-5x ,.block-database.fw-5x{
        font-size:4em;
    }
    .modal-dialog-margin-top-md{
        margin-top:10%;
    }
    .modal-lg{
        width: 95%;
    }
    .modal-md{
        width: 80%;
    }
}
@media (max-width: 992px) {
 .version-url{
        width:45.1%;
    }
    .block-general h3, .block-team h3, .block-database h3{
        font-size:20px;
    }
    .block-action-button{
        margin-top:10px;
        text-align:center;
    }
    .permission-change-block{
        margin-top:1em;
    }
    .permission-change-block .block-action-button{
        margin-top:0px;
    }
    .block-description{
        width:100%;
        font-size:1.3em;
        margin-top:1em;
    }
    .block-general.fw-5x,.block-team.fw-5x ,.block-database.fw-5x{
        font-size:4em;
    }
    .btn-create-version + .popover .popover-title{
        font-size:14px;
    }
}
@media (max-width: 768px) {
    .version-url{
        width:46.8%;
    }
    .btn-edit-code > a{
        margin-top:-3px;
    }
    .block-description-multiline{
        margin-left:5em;
        font-size:1.3em;
    }
    .block-general.fw-5x,.block-team.fw-5x ,.block-database.fw-5x{
        font-size:4em;
    }
    .block-description{
        width:62%;
    }
    .modal-dialog-margin-top-md{
        margin-top:10%;
    }
    .modal-lg{
        width: auto;
    }
    .modal-md{
        width: auto;
    }
}
@media (max-width: 480px) {
    .version-url{
        width:100%;
    }
    .version-number{
      margin-bottom:1px;
    }
     .version-number,.version-number button,.version-number .dropdown-menu{
        width:100%;
    }
    .btn-launch-app{
       width:60%;
    }
    .btn-edit-code{
        margin-left:0px;
    }
    .btn-edit-code > a{
        margin-top:0px;
    }
    .app-desc h2{
        margin-top:20px;
    }
}
.btn-launch-app,.btn-edit-code{
    border:none;
}

.btn-edit-code{
    margin:0px;
    margin-left:-4px;
}
.btn-edit-code > a{
    border:none;
    line-height:20px;
    margin-top:-3px;
}
.invitaiton_list{
    list-style:none;
    margin-left:0px;
    margin-top:10px;
    margin-bottom:10px!important;
    padding-left:15px;
}
.invitaiton_list li span{
    display:inline-block;
    min-width:200px;
}
.margin-top-xs{
    margin-top:1em;
}
.margin-bottom-xs{
    margin-bottom:1em;
}
.margin-bottom-md{
    margin-bottom:3em;
}
.no-gutter-right{
    padding-right:0px;
}


/* pasword strength meter */
.password_strength_meter .popover {
    color:#fff;
    width:340px;
    max-width:340px;
    background-color:#464646;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.password_strength_meter .popover .popover-content{
    padding:0px;
}
.password_strength_meter .popover .popover-title{
    color:#fff;
    font-weight:bold;
    background-color:#464646;
    border-bottom-color:#404040;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.password_strength_meter .pwd_str{
    border-top:1px solid #404040;
    padding:10px 15px;
    background-color:#3C3C3C;
}
.password_strength_meter #pswd_info{
    padding:10px 15px;
    color:#999;
}
.password_strength_meter #passwordDescription{
    color:#fff;
}
.password_strength_meter .popover.right>.arrow:after{
    border-right-color:#464646;
}
.password_strength_meter .popover.top>.arrow:after{
    border-top-color:#464646;
}
#password_strength_wrap {
        border: 1px solid #D5CEC8;
        display: none;
        float: left;
        padding: 10px;
        position: relative;
        max-width: 320px;
}
#password_strength_wrap:before, #password_strength_wrap:after{
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border: 10px solid transparent; /* arrow size */
}
#password_strength_wrap:before{
    border-bottom: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0.1);
    border-top: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: -18px;
    position: absolute;
    top: 10px;
}
#password_strength_wrap:after{
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid #fff;
    border-top: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: -16px;
    position: absolute;
    top: 11px;
}
#pswd_info ul {
        list-style-type: none;
        margin: 5px 0 0;
        padding: 0;
}
#pswd_info .status_icon{
    margin-right:5px;
}
#pswd_info ul li.valid {
        color: #27ae60;
}
#passwordStrength {
    display: block;
    height: 5px;
    margin-bottom: 10px;
    transition: all 0.4s ease;
}
.strength0 {
    background: none; /* too short */
    width: 0%;
}
.strength1 {
    background: none repeat scroll 0 0 #FF4545;/* weak */
    width: 25%;
}
.strength2 {
    background: none repeat scroll 0 0 #FFC824;/* good */
    width: 50%;
}
.strength3 {
    background: none repeat scroll 0 0 #6699CC;/* strong */
    width: 75%;
}

.strength4 {
    background: none repeat scroll 0 0 #27ae60;/* best */
    width: 100%;
}

.role_type{
    font-size: 11px;
    display:inline-block;
    margin-left:10px;
}
.org_type{
    font-size: 11px;
    background:#464646;
    padding:4px 8px;
}
.role_type_tag{
    display:inline-block;
    border:1px solid #464646;
    padding:2px 8px;
    background:#555;
}
.role_type .triangle{
    float:left;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 21px 0;
    border-color: transparent #464646 transparent transparent;
    line-height: 2;
}

/*App factory*/
.AF .triangle{
    border-color: transparent #22A7F0 transparent transparent;
}
.AF .org_type{
    background:#22A7F0;
}
.AF .role_type_tag{
    border-color:#22A7F0;
}
/*Api manager*/
.APIM .triangle{
    border-color: transparent #D64541 transparent transparent;
}
.APIM .org_type{
    background:#D64541;
}
.APIM .role_type_tag{
    border-color:#D64541;
}
/*other*/
.OTHER .triangle{
    border-color: transparent #fb8c00 transparent transparent;
}
.OTHER .org_type{
    background:#fb8c00;
}
.OTHER .role_type_tag{
    border-color:#fb8c00;
}


.data-select-all,.structure-select-all{
    margin-left:3px;
}

.not-active{
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
}

.cloud-tab .tab-content{
    background: #464646;
    padding: 20px;
}

.cloud-tab .nav-tabs{
    font-size:1.2em;
    border-color:#222;
}
.cloud-tab .nav-tabs>li>a{
    color:#666;
    border:none;
    border-top:2px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

}
.cloud-tab .nav>li>a:hover,.cloud-tab .nav>li>a:focus{
    color:#c5c5c5;
    border:none;
    border-top:2px solid transparent;
    background:none;
}
.cloud-tab .nav-tabs>li.active>a,.cloud-tab .nav-tabs>li.active>a:hover,.cloud-tab .nav-tabs>li.active>a:focus{
    border:none;
    border-top:2px solid #c5c5c5;
    color:#c5c5c5;
    background:#464646;
}
.notification-glow {
    -webkit-animation: glow .5s infinite alternate;
    -moz-animation: glow .5s infinite alternate;
    animation: glow .5s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px red;
    }
}


.new-tag{
    position:absolute;
    height:auto;
    background-color:#fff;
    border:1px solid #333;
}
.new-tag-desc{
    border-bottom:1px solid #ccc;
}
.new-tag-desc p{
    padding:10px;
    color:#333;
}
.add-tag{
    margin-top:20px;
}
.new-tag-container{
    padding:10px;
    color: #333;
}

/* noty overide */
.noty_buttons {
    background-color: #404040 !important;
    border-top: 1px solid #474747 !important;
}

.datepicker-container{
    position: relative;
}
.datepicker-container i{
    position: absolute;
    top: 3px;
    right: 10px;
    color: #282828;
}

.img-container{
    width:110px;
    height:110px;
}
th.hide-column-data, td.hide-column-data {
    display: none;
}

.doc-icon{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background:#fff;
}
.input-wrap .input-group-btn.btn-input-right {
    width: 0;
    display: inline-block;
}
.input-wrap .btn-input-right .btn {
    position: absolute;
    right: 1px;
    top: -10px;
    border: none;
    z-index: 10;
}
.btn-gray{
    color: #fff;
    background-color: #464646;
    border-color: #464646;
}
.btn-gray:hover,.btn-gray:active{
    color: #fff;
    background-color: #5d5d5d;
    border-color: #5d5d5d;
}
.btn-lightgray{
    color: #333;
    background-color: #c3c3c3;
    border-color: #c3c3c3;
}
.btn-lightgray:hover,.btn-lightgray:active{
    color: #333;
    background-color: #d9d9d9;
    border-color: #d9d9d9;
}
.roles-container .org_type{
    padding: 4px 10px 4px 19px;
    margin-right: -1px;
}
.roles-container .role_type {
    color:#fff;
}
.edit-roles .role_type_tag{
    padding: 2px 8px 2px 15px;
}

.tooltip-inner {
    max-width:600px;
}
.table-buildlogs{
    font-size:14px;
    color:#999;
}
.table-buildlogs td{
    line-height:35px !important;
}
.table-borderless>thead>tr>th, .table-borderless>tbody>tr>th, .table-borderless>tfoot>tr>th, .table-borderless>thead>tr>td,
.table-borderless>tbody>tr>td, .table-borderless>tfoot>tr>td{
    border: none;
}
.table-notification-msg{
    display:inline-block;
    width:2px;
    height:33px;
    margin-right:7px;
    border:none;
}
.table-notification-i{
    margin-top: -27px;
}
.table-noti-error{
    background-color:#e74c3c;
}
.table-noti-success{
    background-color:#40d47e;
}
.table-noti-default{
    background-color:#00aeef;
}
.nav-tabs-wizard{
    padding-bottom:1px;
    border-bottom:1px solid #626262;
}
.strikethrough:checked + span{
    text-decoration:line-through
}

.disabled-tab{
    pointer-events: none;
}
.nav-tabs-wizard>li>a{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding:0px;
}
.nav-tabs-wizard>li>a, .nav-tabs-wizard>li>a:hover, .nav-tabs-wizard>li>a:focus{
    background-color:#6a6a6a;
    border:none;
    color:#bbbbbb;
}

.nav-tabs-wizard>li.active>a, .nav-tabs-wizard>li.active>a:hover, .nav-tabs-wizard>li.active>a:focus{
    background-color:#0196d8;
    border:none;
    color:#fff;
}

.nav-tabs-wizard .step-number{
    float:left;
    width:19%;
    background-color:#626262;
    margin-left:5px;
    padding:10px 20px;
    text-align:center;
}
.nav-tabs-wizard .active .step-number{
    background-color:#1f7da3;
}
.nav-tabs-wizard .step-desc{
    float:left;
    width:80%;
}
.nav-tabs-wizard .step-number span{
    font-weight:300;
    font-size:42px;
}
.nav-tabs-wizard .step-desc h2{
    text-transform:uppercase;
    font-weight:300;
    font-size:24px;
    margin-bottom:0px;
    padding-left:10px;
}
.nav-tabs-wizard .step-desc p{
    font-size:14px;
    padding-left:10px;
}
.nav-tabs-wizard + .tab-content>.tab-pane{
    padding: 20px;
    background-color:#222;
    border-bottom:2px solid #0196d8;
}

.lifecycle-event-history h4{
    margin-top: 3em;
}

.custom-checkbox{
    -webkit-appearance: none;
    background-color: #222222;
    border: 2px solid #0196D8;
    padding: 7px !important;
    border-radius: 0px !important;
    display: inline-block;
    position: relative !important;
    margin-right: 7px !important;
}

.custom-checkbox:checked:after {
    content: '\2714';
    font-size: 16px;
    position: absolute;
    top: -2px;
    left: 0px;
    color: #0196D8;
}

.custom-checkbox:checked {
    background-color: #222222;
    border: 2px solid #0196D8;
    color: #0196D8;
}

.custom-checkbox-small{
    -webkit-appearance: none;
    border: 1px solid #0196D8;
    padding: 6px !important;
    border-radius: 0px !important;
    display: inline-block;
    position: relative !important;
    margin-right: 7px !important;
}

.custom-checkbox-small:checked:after {
    content: '\2714';
    font-size: 15px;
    position: absolute;
    top: -3px;
    left: 0px;
    color: #0196D8;
}

.custom-checkbox-small:checked {
    border: 1px solid #0196D8;
    color: #0196D8;
}

.modal-body label.data-select-all,.modal-body label.structure-select-all{
    margin-bottom:0px;
}
.create-version-form-wrap{
    display:none;
}
.btn-create-version + .popover{
    background-color:#dedede;
}

.btn-create-version + .popover{
    color:#fff;
    background-color:#464646;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    /*min-width:450px;*/
}
/*
.btn-create-version + .popover.bottom>.arrow{
    left:95%!important;
}
*/
.btn-create-version + .popover.bottom>.arrow:after {
    border-bottom-color: #464646;
}
.btn-create-version + .popover .popover-content{
    padding:0px;
}
.btn-create-version + .popover .popover-title{
    color:#fff;
    font-weight:400;
    background-color:#3C3C3C;
    border-bottom-color:#404040;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom:5px;
}
.btn-create-version + .popover .form-inline{
    padding:10px;
    padding-top:5px;
}
.btn-create-version + .popover .form-inline #new-version{
    max-width:132px;
}
.btn-create-version + .popover .form-inline .control-label{
    font-weight:400;
    color:#999;
    margin-right:10px;
    margin-bottom:5px;
}


.page-info-header{
    background: #464646;
    padding: 40px 20px 10px;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 2em;
}
.master-container,.fork-container{
    padding-top:10px;
    padding-bottom:10px;
}
.master-container .form-group,.fork-container .form-group{
    margin-bottom:2em;
}
.fork-container{
    background:#47505A;
}
.fork-down{
    padding:20px 0px;
    text-align:center;
    color:#999;
}

/* build logs model body scroll */
.build-logs-modal .modal-dialog{
    overflow-y: initial !important
}
.build-logs-modal .modal-body .scroll-container{
    min-height: 300px;
    max-height:400px;
    overflow-y: auto;
    white-space: pre-line;
    margin-top: 20px;
}
#log-search{
    color: #000;
}

.div-search {
    padding: 19px 0px 5px;
    background-color: #5F5F5F;
    margin: -15px;
}

.highlight {
    background-color: #2C81DC;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
    padding:1px 4px;
    margin:0 -4px;
}

.editroles > span.fw-stack{
    font-size:0.8em;
}
.delete i.fw-delete{
    font-size:1em;
}
.editroles .fw-stack span{
    color:#0498d5;
}
#user-name-select + .select2-container .select2-selection--multiple{
    height:34px;
}
#user-name-select + .select2-container .select2-selection--multiple li{
    border:none;
    background-color:#fff;
}
#user-name-select + .select2-container .select2-selection--multiple li span.select2-selection__choice__remove{
    display:none;
}
.modal-header button.close-override{
    margin-top:-14px;
    margin-right:-14px;
    color:#999;
    background:#000;
    padding:7px 12px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.modal-header button.close-override:focus {
    outline:none;
}

